/* docs/stylesheets/extra.css */

body {
  font-family: "LXGW WenKai", sans-serif;
  /* Lite version */
  /* font-family: "LXGW WenKai Lite", sans-serif; */
  /* TC version */
  /* font-family: "LXGW WenKai TC", sans-serif; */
  /* Screen version */
  /* font-family: "LXGW WenKai Screen", sans-serif; */
}
button.md-top {
  font-family: LXGW WenKai; /* 修改字体 */
  font-size: 16px; /* 修改字体大小 */
  font-weight: bold; /* 修改字体粗细 */
  color: #518fc1; /* 修改字体颜色 */
}

/* 亮模式（默认）的标题样式 */
body h1 {
  color: #000000; /* 字体颜色 */
  background-color: #1e90ff; /* 背景颜色 */
  padding: 10px; /* 内边距 */
}

body h2 {
  color: #000000; /* 字体颜色 */
  background-color: #00bfff; /* 背景颜色 */
  padding: 8px; /* 内边距 */
}

body h3 {
  color: #000000; /* 字体颜色 */
  background-color: #87cefa; /* 背景颜色 */
  padding: 6px; /* 内边距 */
}

body h4,
body h5,
body h6 {
  color: #000000; /* 字体颜色 */
  background-color: #b0c4de; /* 背景颜色 */
  padding: 4px; /* 内边距 */
}
